{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content  %}
<div class="row panel" align="center">
    <h1>{{ _('Sign In') }}</h1>
        <div class="row" align="center" style="width: 60%; margin: 20px;">
            {{ wtf.quick_form(form, button_map={'submit': 'primary'}) }}
        </div>
    <br>
    <p>
            {{ _('Forgot Your Password?') }}
        <a href="{{ url_for('auth.reset_password_request') }}"> {{ _('Click to Reset It') }}</a>
    </p>
    <p>
        {{ _('New User?') }}
        <a href="{{ url_for('auth.register') }}"> {{ _('Click to Register!') }}</a>
    </p>
</div>
{% endblock %}