{% extends 'bootstrap/base.html' %}

{% block scripts %}
    {{ super() }}
    <script>
            $(function() {
                minutesdiv = $('#minutes');
                secondsdiv = $('#seconds');
                minutesdiv.text('00');
                secondsdiv.text(30);
                if (typeof(Storage) !== "undefined") {
                    if (localStorage.timer) {
                        localStorage.timer = Number(localStorage.timer);
                    } else {
                        localStorage.timer = Number(30);
                    }
                    if (localStorage.pomodoros){
                        localStorage.pomodoros = Number(localStorage.pomodoros);
                    } else {
                        localStorage.pomodoros = Number(0);
                    }
                    if (localStorage.shortRests){
                        localStorage.shortRests = Number(localStorage.shortRests);
                    } else {
                        localStorage.shortRests = Number(0);
                    }
                    if (localStorage.longRests){
                        localStorage.longRests = Number(localStorage.longRests);
                    } else {
                        localStorage.longRests = Number(0);
                    }
                }
                pomodoros = localStorage.pomodoros;
                shortRests = localStorage.shortRests;
                longRests = localStorage.longRests;
            });

        // Notifications
        document.addEventListener('DOMContentLoaded', function () {
            if (!Notification) {
                alert('Desktop notifications not available in your browser. Try Chromium.'); 
                return;
            }
            if (Notification.permission !== "granted")
                Notification.requestPermission();
            });

        function notifyMe(title, body) {
            if (Notification.permission !== "granted")
                Notification.requestPermission();
            else {
                var notification = new Notification(title, {
                // icon: icon,
                body: body,
                });
                // notification.onclick = function () {
                // window.open(url);
                // };
            }
        }


        function clearTimer(pomodoroFinished=false, restFinished=false) {
            clearInterval(timerInterval);
            if (pomodoroFinished) {
                localStorage.pomodoros++;
                localStorage.timer = Number(20);
                minutesdiv.text('00');
                secondsdiv.text('20');
                document.title = 'Take a break!';
                notifyMe('Take a break!', 'You have completed one pomodoro.')
            }
            if (restFinished) {
                localStorage.shortRests++;
                localStorage.timer = Number(22);
                minutesdiv.text('00');
                secondsdiv.text('22');
                document.title = "Let's work!";
                notifyMe("Let's work!", 'You have taken a short break.')
            }
            // minutesdiv.text('00');
            // secondsdiv.text(45);
        };

        function stopTimer() {
            clearInterval(timerInterval);
        }

        function startTimer() {
            duration = localStorage.timer - 1;
            var timer = duration, minutes, seconds;
            timerInterval = setInterval(function () {
                minutes = parseInt(timer / 60, 10)
                seconds = parseInt(timer % 60, 10);

                minutes = minutes < 10 ? "0" + minutes : minutes;
                seconds = seconds < 10 ? "0" + seconds : seconds;

                minutesdiv.text(minutes);
                secondsdiv.text(seconds);
                if (duration < 21) 
                    document.title = minutes + ':' + seconds + ' Resting';
                else
                    document.title = minutes + ':' + seconds + ' Working';

                if (typeof(Storage) !== "undefined") {
                    localStorage.setItem("timer", timer);
                }

                if (--timer < 0) {
                    if (duration < 21) {
                        clearTimer(pomodoroFinished=false, restFinished=true);
                    } else {
                        clearTimer(pomodoroFinished=true, restFinished=false);
                    }
                }
            }, 1000);
        };


        
    </script>
{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Raleway|Ubuntu" rel="stylesheet"> 
{% endblock %}

{% block title %}
    {% if title %}{{ title }} - Pomodoro Timer{% else %}{{ _('Pomodoro timer') }}{% endif %}
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('main.index') }}">Pomodoro Timer</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('main.index') }}">{{ _('Home') }}</a></li>
            </ul>
        </div>
    </div>
</nav>
{% endblock %}

{% block content %}
    <div class="container-fluid" align="center" style="height: 100vh;">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{ category }}" role="alert">
                        <strong>{{ message }}</strong>
                </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
            
        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}
