{% extends 'bootstrap/base.html' %}

{% block scripts %}
    {{ super() }}
    <script>
            $(function() {
                minutesdiv = $('#minutes');
                secondsdiv = $('#seconds');
                startButton = document.getElementById("button-start");
                stopButton = document.getElementById("button-stop");
                resetButton = document.getElementById("button-reset");
                minutesdiv.text('25');
                secondsdiv.text('00');
                notifWorkAudio = new Audio("{{ url_for('static', filename='sounds/slow-spring-board.mp3') }}");
                notifBreakAudio = new Audio("{{ url_for('static', filename='sounds/quite-impressed.mp3') }}");
                notifLongBreakAudio = new Audio("{{ url_for('static', filename='sounds/solemn.mp3') }}");
                if (typeof(Storage) !== "undefined") {
                    if (localStorage.timer) {
                        localStorage.timer = Number(localStorage.timer);
                    } else {
                        localStorage.timer = Number(1500);
                    }
                    if (localStorage.pomodoros){
                        localStorage.pomodoros = Number(localStorage.pomodoros);
                    } else {
                        localStorage.pomodoros = Number(0);
                    }
                    if (localStorage.shortRests){
                        localStorage.shortRests = Number(localStorage.shortRests);
                    } else {
                        localStorage.shortRests = Number(0);
                    }
                    if (localStorage.longRests){
                        localStorage.longRests = Number(localStorage.longRests);
                    } else {
                        localStorage.longRests = Number(0);
                    }
                    if (localStorage.whichNow){
                        // work or break or longBreak
                        localStorage.whichNow = localStorage.whichNow ;
                    } else {
                        localStorage.whichNow = "work";
                    }
                    if (localStorage.lastTime) {
                        localStorage.lastTime = localStorage.lastTime ;
                        // check if a pomodoro or break has ended during while the tab was closed
                        var currentTime = new Date();
                        if (localStorage.whichNow == "work" && (currentTime.getTime() - localStorage.lastTime.getTime()) > 1500) {
                            localStorage.pomodoros++;
                            if (localStorage.pomodoros % 4 == 0) {
                                localStorage.whichNow = "longBreak";
                                localStorage.timer = Number(1200);
                            } else {
                                localStorage.whichNow = "break";
                                localStorage.timer = Number(300);
                            }
                        } else if (localStorage.whichNow == "break" && (currentTime.getTime() - localStorage.lastTime.getTime()) > 300) {
                            localStorage.shortRests++;
                            localStorage.whichNow = "work";
                            localStorage.timer = Number(1500);
                        } else if (localStorage.whichNow == "longBreak" && (currentTime.getTime() - localStorage.lastTime.getTime()) > 1200) {
                            localStorage.longRests++;
                            localStorage.whichNow = "work";
                            localStorage.timer = Number(1500);
                        }
                    } else {
                        localStorage.lastTime = new Date();
                    }
                }
            });

        // Notifications
        document.addEventListener('DOMContentLoaded', function () {
            if (!Notification) {
                alert('Desktop notifications not available in your browser. Try Chromium.'); 
                return;
            }
            if (Notification.permission !== "granted")
                Notification.requestPermission();
            });

        function notifyMe(title, body, url) {
            if (Notification.permission !== "granted")
                Notification.requestPermission();
            else {
                var notification = new Notification(title, {
                // icon: icon,
                body: body,
                });
                notification.onclick = function () {
                window.open(url, "_self");
                };
            }
        }

        function clearTimer(pomodoroFinished=false, restFinished=false) {
            clearInterval(timerInterval);
            startButton.disabled = false;
            stopButton.disabled = true;
            resetButton.disabled = true;
            if (pomodoroFinished) {
                localStorage.pomodoros++;
                if (localStorage.pomodoros % 4 == 0){
                    localStorage.timer = Number(1200);
                    minutesdiv.text('20');
                    secondsdiv.text('00');
                    document.title = 'Take a long break!';
                    notifLongBreakAudio.play();
                    notifyMe('Take a long break!', 'You have completed one pomodoro.',
                             "{{ url_for('main.index') }}");
                    localStorage.whichNow = "longBreak";
                } else {
                    localStorage.timer = Number(300);
                    minutesdiv.text('05');
                    secondsdiv.text('00');
                    document.title = 'Take a break!';
                    notifBreakAudio.play();
                    notifyMe('Take a break!', 'You have completed one pomodoro.',
                             "{{ url_for('main.index') }}");
                    localStorage.whichNow = "break";
                }
                
            }
            if (restFinished) {
                localStorage.timer = Number(1500);
                minutesdiv.text('25');
                secondsdiv.text('00');
                document.title = "Let's work!";
                notifWorkAudio.play();
                if (localStorage.whichNow == "break") {
                    localStorage.shortRests++;
                    notifyMe("Let's work!", 'You have taken a short break.',
                             "{{ url_for('main.index') }}");
                } else if (localStorage.whichNow == "longBreak") {
                    localStorage.longRests++;
                    notifyMe("Let's work!", 'You have taken a long break.',
                             "{{ url_for('main.index') }}");
                }
                localStorage.whichNow = "work"
            }
            // When the reset button is pressed
            if (!pomodoroFinished && !restFinished) {
                if (localStorage.whichNow == "work") {
                    localStorage.timer = Number(1500);
                    minutesdiv.text('25');
                    secondsdiv.text('00');
                    document.title = "25:00 Working";
                } else if(localStorage.whichNow == "break") {
                    localStorage.timer = Number(300);
                    minutesdiv.text('05');
                    secondsdiv.text('00');
                    document.title = "05:00 Resting";
                } else if(localStorage.whichNow == "longBreak") {
                    localStorage.timer = Number(1200);
                    minutesdiv.text('20');
                    secondsdiv.text('00');
                    document.title = "20:00 Resting";
                }
            }
        };

        function stopTimer() {
            clearInterval(timerInterval);
            startButton.disabled = false;
            stopButton.disabled = true;
            resetButton.disabled = false;
        }

        function startTimer() {
            duration = localStorage.timer - 1;
            var timer = duration, minutes, seconds;
            startButton.disabled = true;
            stopButton.disabled = false;
            resetButton.disabled = false;
            timerInterval = setInterval(function () {
                minutes = parseInt(timer / 60, 10)
                seconds = parseInt(timer % 60, 10);

                minutes = minutes < 10 ? "0" + minutes : minutes;
                seconds = seconds < 10 ? "0" + seconds : seconds;

                minutesdiv.text(minutes);
                secondsdiv.text(seconds);
                if (localStorage.whichNow == "work") 
                    document.title = minutes + ':' + seconds + ' Working';
                else
                    document.title = minutes + ':' + seconds + ' Resting';

                if (typeof(Storage) !== "undefined") {
                    localStorage.setItem("timer", timer);
                    localStorage.lastTime = new Date();
                }

                if (--timer < 0) {
                    if (localStorage.whichNow == "work") {
                        clearTimer(pomodoroFinished=true, restFinished=false);
                    } else {
                        clearTimer(pomodoroFinished=false, restFinished=true);
                    }
                }
            }, 1000);
        };


        
    </script>
{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Raleway|Ubuntu" rel="stylesheet"> 
{% endblock %}

{% block title %}
    {% if title %}{{ title }} - Pomodoro Timer{% else %}{{ _('Pomodoro timer') }}{% endif %}
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('main.index') }}">Pomodoro Timer</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('main.index') }}">{{ _('Home') }}</a></li>
            </ul>
        </div>
    </div>
</nav>
{% endblock %}

{% block content %}
    <div class="container-fluid" align="center" style="height: 100vh;">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{ category }}" role="alert">
                        <strong>{{ message }}</strong>
                </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
            
        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}
