{% extends "base.html" %}

{% block app_content %}
    <h1 align="center" class="description"">Pomodoro timer enhanced, boost your productivity</h1>
    <div class="row" align="center" style="width: 60%;">
        <table>
            <tr>
                <td style="width: 47.5%;">
                    <div class="timer" id="minutes">
                
                    </div>
                </td>
                <td style="width: 5%;">
                    <div class="timer_separator">:
                
                    </div>
                </td>
                <td style="width: 47.5%;">
                    <div class="timer" id="seconds">
                
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="row" align="center" style="width: 60%; margin: 20px;">
        <div class="btn-group btn-group-justified" role="group" aria-label="..."  align="center">
            <button type="button" class="btn btn-success" style="width: 25%; margin-left: 6.25%;"
                 onclick="startTimer()">
                <span class="glyphicon glyphicon-play" aria-hidden="true"></span> <strong>Play</strong>
            </button>
            <button type="button" class="btn btn-info" style="width: 25%; margin-left: 6.25%;"
                 onclick="stopTimer()">
                <span class="glyphicon glyphicon-pause" aria-hidden="true"></span> <strong>Pause</strong>
            </button>
            <button type="button" class="btn btn-danger" style="width: 25%; margin-left: 6.25%;"
                 onclick="clearTimer()">
                <span class="glyphicon glyphicon-stop" aria-hidden="true"></span> <strong>Stop</strong>
            </button>
        </div>
    </div>
  
{% endblock %}