{% extends "base.html" %}

{% block app_content %}
    <h1 align="center" class="description"">Pomodoro timer enhanced, boost your productivity</h1>
    <div class="row" align="center" style="width: 60%;">
        <table>
            <tr>
                <td style="width: 47.5%;">
                    <div class="timer" id="minutes">
                
                    </div>
                </td>
                <td style="width: 5%;">
                    <div class="timer_separator">:
                
                    </div>
                </td>
                <td style="width: 47.5%;">
                    <div class="timer" id="seconds">
                
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="row" align="center" style="width: 60%; margin: 20px;">
        <!-- <div class="btn-group btn-group-justified" role="group" aria-label="..."  align="center"> -->
            <div class="col-md-4">
                <button type="button" class="btn btn-success" id="button-start" style="width: 80%; margin: 5px;"
                     onclick="startTimer()">
                    <span class="glyphicon glyphicon-play" aria-hidden="true"></span> <strong>Play</strong>
                </button>
            </div>
            <div class="col-md-4">
                <button type="button" class="btn btn-primary" id="button-stop" style="width: 80%; margin: 5px;"
                    onclick="stopTimer()">
                    <span class="glyphicon glyphicon-pause" aria-hidden="true"></span> <strong>Pause</strong>
                </button>
            </div>
            <div class="col-md-4">
                <button type="button" class="btn btn-danger" id="button-reset" style="width: 80%; margin: 5px;"
                    onclick="clearTimer()">
                    <span class="glyphicon glyphicon-stop" aria-hidden="true"></span> <strong>Stop</strong>
                </button>
            </div>
        <!-- </div> -->
    </div>
  
{% endblock %}